# ignore everything in the root except the "wp-content" directory.
wordpress/*
!wordpress/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wordpress/wp-content/*
!wordpress/wp-content/mu-plugins/
!wordpress/wp-content/plugins/
!wordpress/wp-content/themes/

# ignore specific themes
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/arlo-child

# ignore specific plugins
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/arlo-core

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore env files
*.env
